/*

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/

:root {
    --dark-cyan: #19a2ae;   
    --v-dark-blue: #2d3248;
    --g-dark-blue: #6a6f81;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: left -11rem top -43rem, right -12rem bottom -41rem;
    background-size: 80rem, 80rem;
    background-repeat: no-repeat;
    background-color: var(--dark-cyan);
    height: 80vh;
    width: 100%;
    max-width: 144rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 36rem;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
    text-align: center;
}

.card-top {
    width: 100%;
    height: 15rem;
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
}

.photo {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: -5rem;
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: .5rem;

}

.card-down {
    background-color: #fff;
}

.heading {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin-top: -3rem;
}

h2 {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

.name {
    color: var(--v-dark-blue);
    margin-right: 1rem;
}

.age {
    color: var(--g-dark-blue);
    font-weight: 400;
}

.city {
    color: var(--g-dark-blue);
    font-size: 1.6rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.followers {
    color: var(--v-dark-blue);
    font-weight: 700;
    padding: 2.2rem 0;
}

.status {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: .5rem;
    color: var(--g-dark-blue);
}

@media (max-width: 375px) {
    .container {
        padding: 3rem;
        background-position: left -64rem top -49rem, right -61rem bottom -53rem
    }

}